/*
 *  CSS for the main  page
 */

body {
  background-color: #000;
}

.main-page-top,
.main-page-bottom {
    margin-top: 10px;
    margin-left: 10px;
}

.main-top-button {
  font-size: 15px;
  font-weight: bolder;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 120px;
}

.main-top-button:hover,
.main-middle-button:hover,
.main-right-drink-button:hover,
.main-right-food-button:hover,
.main-bottom-button:hover { 
    background-color: blue;
    color: white;
}

.main-page-left {
    float: left;
    background: lightgreen;
    width: 40%;
    height: 550px;
    margin-left: 10px;
}

.main-page-middle {
    float: left;
    width: 10%;
    margin-left: 10px;
    width: 120px;
}

.main-middle-button {
  font-size: 15px;
  font-weight: bolder;
  width: 120px;
  margin-bottom: 10px;  
}

.main-page-right {
    float: left;
    background: lightskyblue;
    width: 40%;
    height: 550px;
    margin-left: 10px;
    padding-top: 10px;
}

.main-right-drink-button,
.main-right-food-button {
  font-size: 15px;
  font-weight: bolder;
  width: 130px;
  margin-left: 15px;
  margin-bottom: 10px;  
}

.main-bottom-button {
  font-size: 15px;
  font-weight: bolder;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 120px;
}

.main-left-side {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    float: left;
}

.main-page-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-right-side {
    font-size: 15px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
}

#message-area {
  font-size: 20px;
  margin-top: 10px;
  color: red;
}

@media only screen and (max-width: 750px) {

    .main-page-left {
        float: none;
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .main-page-middle {
        float: none;
        display: block;
    }

    .main-page-right {
        float: none;
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {

    .main-page-left {
        float: none;
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .main-page-middle {
        float: none;
        display: block;
    }

    .main-page-right {
        float: none;
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
}